{
  "presets": [
    ["@babel/plugin-proposal-class-properties"],
    ["@babel/preset-react"],
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": {
          "version": 3
        }
      }
    ]
  ]
}
